*{
  margin: 0px;
  padding: 0px;

}

.navbar{
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px grey;
  font-size: 17px;
  font-family: 'Times New Roman', Times, serif;
  border-bottom:0.6px solid grey ;
  --webkit-box-shadow:0 8px 6px -6px grey;
}
li:hover{
  border-bottom: 1.8 px solid grey ;
}
.footer{
  color: white;
  background: rgb(33, 32, 32);
  background: -webkit-linear-gradient(to right,rgb(36, 34, 34),rgb(106, 103, 103));
  background:linear-gradient(to right,rgb(36, 34, 34),rgb(106, 103, 103));
  margin-bottom: -2px;
  padding-bottom: 1px;
  max-height: 75px;
 
}
.footer a{
  text-decoration: none;
  color:whitesmoke ;
  padding: 3px;
  margin-bottom: 5px;
  
}
.footer a:hover{
  color: aliceblue;
  border-bottom: 1px solid white;
}
.pnf{
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pnf-title{
  font-size:100px;
  font-weight: 700;
}
.pnf-heading{
  font-weight: normal;
}
.pnf-btn{
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 6px;
  margin-top: 10px;
  border-radius: 5px;
}

.pnf-btn:hover{
  cursor: pointer;
  background-color: rgb(48, 46, 46);
  color: aliceblue;
}

/*About cs*/
.ecom-about{
  display:"flex";
    flex-direction:"row";
}
.ecom-about-img-container{
 width:" 50%";
}


.ecom-about-content{
  width:" 50%";
}
/*Register page css*/
.register{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 110vh;
  background: linear-gradient(to bottom, #5d99c1, #266c9a);

  color: black
}
.register form{
  border: 2px solid rgb(135, 203, 196);
  padding: 20px;
  box-shadow:  0 8px 6px -6px rgb(69, 132, 225);
  border-radius: 4px ;
  background: white;
  background:linear-gradient(0deg ,#3498db 0%,#2980b9 100%);
  color: black;
}
.registerbtn{
  width:300px;
  min-width: 100px;
  max-width: 300px;
  background-color: rgb(38, 149, 149);
}
.registerbtn:hover{
  background-color:rgb(71, 87, 151);
  
}
.registerbtn{
  background-color:rgb(83, 126, 158);
}
/* login form*/
.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  height: 100vh;
 background: linear-gradient(to bottom right, #3d5670, #3498db);
  ;
  color: black
}
.login form{
  border: 2px solid rgb(135, 203, 196);
  padding: 20px;
  box-shadow:  0 8px 6px -6px grey;
  border-radius: 4px ;
  background: white;
background: linear-gradient( #3498db, #6dd5fa);
  color: black;
  margin-top: 100px;
}
.login form h2{
  
  margin-left: 2px;
  margin-top: 4px;
  display: flex;
  flex-direction: row;
 
  justify-content: center;
}
.loginbtn{
  width:300px;
  min-width: 100px;
  max-width: 300px;
  background-color:rgb(83, 126, 158);
}
.loginbtn:hover{
  background-color:rgb(71, 87, 151);
  
}
/*Product link */
.product-link{
  color: rgb(32, 30, 30) !important ;
  text-decoration: none !important;

}
.product-row{
  --bs-gutter-x: 0rem;
}
.product-card{
  --bs-gutter-x: 0rem;
}
.braintree-show-card{
  display: block ;
}
